.DS_Store
.AppleDouble
.LSOverride

.vscode/

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
.env
.env.*

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
.cache/
